:root{
    --primemint: #34CFB5;
    --primeyellow: #FFBB00;
    --darkmint: #05525B;
    --darkyellow: #CCC965;
    --accentyellow:#f2dfae;
    --confirm:#008000;
    --confirmhover:#50C878;
}


html, body{
    margin: 0;
    background-image: linear-gradient(var(--accentyellow),white);
    position:relative;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bookmark-button{
  width: 100%;
  border-radius: 25px;
  margin:2% auto 2% auto;
  color: var(--darkmint);
  background-color: var(--primemint);
  border: 5px solid var(--darkmint);
  height: 70px;
}

.bookmarklabel{
    color: var(--darkmint);
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}
#returnbutton{
    color: var(--darkmint);
    border: 5px solid var(--darkmint);
    border-radius: 25px;
    padding: 20% 50% 20% 50%;
    background-color: var(--primemint);
    font-weight: bold;
    font-size: clamp(0.9rem, 1.5vw, 2.3vw);;
  }

  .accordion {
    background-color: var(--primemint);

    color: var(--darkmint);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: 5px solid var(--darkmint);
    border-radius: 25px;
    outline: none;
    transition: 0.4s;
    font-weight: bold;
    margin-top: 10px
  }
  

.active, .accordion:hover {
    background-color: var(--accentyellow);
}


.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    color: var(--darkmint);
}
.accordion:after {
    content: '+'; 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796";
  }

  .accordionc {
    background-color: var(--primemint);
    color: var(--darkmint);
    border: 5px solid var(--darkmint);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border-radius: 25px;
    outline: none;
    transition: 0.4s;
    font-weight: bold;
    margin-top: 10px
  }
  

.active, .accordionc:hover {
    background-color: var(--accentyellow);
}



.accordionc:after {
    content: '+'; 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }