:root{
  --primemint: #34CFB5;
  --primeyellow: #ffe932;
  --darkmint: #05525B;
  --darkyellow: #CCC965;
  --accentyellow:#f2dfae;
  --confirm:#008000;
  --confirmhover:#50C878;
}
/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body,html {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.title{
  color: var(--darkmint);
  font-weight: bolder;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}
img{
  width:50px;
  height:50px;
}

/* Container */
.container {
  width: 360px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  justify-items: center;
  align-items: center;  
  margin-top: -50%;

}

.progress-bar{
  width: 80%;
  margin: 5% 10%;
  height: 15px;
  background-color: var(--darkmint);
  border-radius: 25px;
}

#quiz-1, #quiz-2,#quiz-3,#learn-1,#learn-2,#learn-3{
  width: 0;
  background-color: var(--primeyellow);
  height: 15px;
  border-radius: 25px;
  border:2px solid var(--darkmint);
}


h2{
  color: var(--darkmint);
}


.profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: lightgray;
}

/* Main Content */
main {
  padding: 10px;
}

.section {

  margin-top: 0;
  margin-right: clamp(0px, 90px, 100px);
  margin-bottom: 20px;
  margin-left: clamp(0px, 90px, 100px);

}

.section h2 {
  margin-bottom: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center; 
  align-items: start; 
}

.grid p{
  text-align: left;
  margin-left: 5%;
}

.progresslabel{
  padding-top: 5%;
}

.card{
  color: var(--darkmint);
  border: 5px solid var(--darkmint);
  border-radius: 25px;
  margin-left: clamp(0px,25px,30px);
  margin-left: clamp(0px,25px,30px);
  margin: 0 auto; 
  min-width: 240px;
  width: 100%; 
  max-width: 300px; 
  height: 250px;

  background-color: var(--primemint);
  font-weight: bold;
  font-size: clamp(0.9rem, 1.5vw, 2.3vw);
  box-shadow: 0px 0px 11px 0px rgba(5,82,91,1);
}



@media screen and (max-width: 780px) {
  .grid {
    grid-template-columns: 1fr; 
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .card{
    width: 90vw;
  }
}