:root{
    --primemint: #34CFB5;
    --primeyellow: #FFBB00;
    --darkmint: #05525B;
    --darkyellow: #CCC965;
    --accentyellow:#f2dfae;
    --confirm:#008000;
    --confirmhover:#50C878;
}



html, body{
    margin: 0;
    background-image: linear-gradient(var(--accentyellow),white);
    height: 100vh;
    position:relative;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bookmarklabel{
    color: var(--darkmint);
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    white-space: nowrap;
}

#returnbutton{
    color: var(--darkmint);
    border: 5px solid var(--darkmint);
    border-radius: 25px;
    padding: 20% 50% 20% 50%;
    background-color: var(--primemint);
    font-weight: bold;
    font-size: clamp(0.9rem, 1.5vw, 2.3vw);;
  }

.container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 15%; 
}

#explanation {
    flex-basis: 100%; 
    text-align: center; 
    order: 1; 
    color: var(--darkmint);
    margin: 5% 10% 1% 10%;
}

.lbutton {
    order: 2; 
    color: var(--darkmint);
    background-color: var(--primemint);
    border: 3px solid var(--darkmint);
    border-radius: 15px;
    width: 120px;
    height: 70px;
    font-weight: bold;
}

