:root{
    --primemint: #34CFB5;
    --primeyellow: #ffe932;
    --darkmint: #05525B;
    --darkyellow: #FFBB00;
    --accentyellow:#f2dfae;
    --cloudblue:#C9EBE3;
    --secondblue:#6ADDFF;
    --seconddarkblue:#1A695C;
    --mainbg:#F3E0B5;
    --bgyellow:#D5B177;
    --bgblue:#6A9AB9;
    --bggreen:#7BBF9E;
    --bgwhite:#E1D2B8;
    --bgbrown:#B89B6A;
    --bgpeach:#F0B6A0;
}



html, body{
    margin: 0;
    height: 100vh;
    position:relative;
    overflow-x: hidden;
}
  
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bookmarklabel{
    color: var(--darkmint);
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    white-space: nowrap;
}

.progress-bar{
    width: 99%;
    margin: 5px;
    height: 15px;
    background-color: var(--darkmint);
    border-radius: 25px;
}

#progress{
    background-color: var(--primeyellow);
    border: 2px solid var(--darkmint);
    border-radius: 25px;
    height: 15px;
}

#returnbutton{
    color: var(--darkmint);
    border: 5px solid var(--darkmint);
    border-radius: 25px;
    padding: 20% 50% 20% 50%;
    background-color: var(--primemint);
    font-weight: bold;
    font-size: clamp(0.9rem, 1.5vw, 2.3vw);;
  }

.container {
    display: flex;
    flex-wrap: wrap; 
    flex: row;
    justify-content: center; 
    gap: 15%; 
}

#explanation {
    flex-basis: 100%; 
    text-align: center; 
    order: 1; 
    color: var(--darkmint);
    margin: 5% 10% 1% 10%;
}

.lbutton {
    order: 2; 
    color: var(--darkmint);
    background-color: var(--primemint);
    border: 3px solid var(--darkmint);
    border-radius: 15px;
    width: 120px;
    height: 70px;
    font-weight: bold;
}

