:root{
    --primemint: #34CFB5;
    --primeyellow: #FFBB00;
    --darkmint: #05525B;
    --darkyellow: #CCC965;
    --accentyellow:#f2dfae;
    --confirm:#008000;
    --confirmhover:#50C878;
}
html,body{

  margin:0;
  padding:0;
  position:relative;
  background-image: linear-gradient(var(--accentyellow),white);
}

p{
  color: var(--darkmint);
}

.selectedtopic{
  font-weight: bolder;
  font-size: x-large;
}

.selectedsubtopic{
  font-weight: bolder;
  font-size: medium;
}
.container {
    display: flex;
    flex-wrap: wrap;

  }
  
  .sidebar {
    width: 200px;
    position: sticky;
    top: 0;
    height: 100vh; 
    padding: 20px;
  }
  
  .left {
    width:17%;
    margin:0;
  }
  
  .right {
    width: 17%;
    margin:0;
  }
  
  .main-content {
    width: 60%;
    overflow-y: auto;
    overflow-x: visible;
    padding: 20px;
    padding-left:17%;
    padding-right:17;
    color: var(--darkmint);
    
  }
  
  #returnbutton{
  color: var(--darkmint);
  border: 5px solid var(--darkmint);
  border-radius: 25px;
  padding: 5%;
  background-color: var(--primemint);
  font-weight: bold;
  font-size: clamp(0.9rem, 1.5vw, 2.3vw);;
}
  
