:root{
  --primemint: #34CFB5;
  --primeyellow: #ffe932;
  --darkmint: #05525B;
  --darkyellow: #FFBB00;
  --accentyellow:#f2dfae;
  --cloudblue:#C9EBE3;
  --secondblue:#6ADDFF;
  --seconddarkblue:#1A695C;
}

html, body{
    margin: 0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#achievements{
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: row;
  text-align: center;
  color: var(--darkmint);
  font-weight: bold;
  gap: 15px;
  padding:20px;
}

.progress-bar{
  width: 100%;
  margin:2.5% 0%;
  background-color: var(--seconddarkblue);
  border: 5px solid var(--darkmint);
  border-radius: 25px;
}

#english-1,#english-2,#english-3,
#maths-1,#maths-2,#maths-3{
  border: 5px solid var(--accentyellow);
  border-radius: 20px;
  background-color: var(--accentyellow);
  width: 50%;
  height: 50px;
  padding:50px auto;
}



.accordion {
    background-color: var(--primeyellow);
    box-shadow: 0px 0px 11px 0px rgba(5,82,91,1);
    color: var(--darkmint);
    cursor: pointer;
    padding: 18px;
    width: 95%;
    text-align: left;
    border: 5px solid var(--darkmint);
    border-radius: 25px;
    outline: none;
    transition: 0.4s;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 2.5%;
  }
  

.active, .accordion:hover {
    background-color: var(--accentyellow);
}

.accordion:after {

    content: '+'; 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796";
  }

  .accordionc {
    background-color: var(--primemint);
    color: var(--darkmint);
    border: 5px solid var(--darkmint);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border-radius: 25px;
    outline: none;
    transition: 0.4s;
    font-weight: bold;
    margin-top: 10px
  }
  

.active, .accordionc:hover {
    background-color: var(--accentyellow);
}



.accordionc:after {
    content: '+'; 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796";
  }

  .accordiond {
    background-color: var(--primemint);
    color: var(--darkmint);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 5px solid var(--darkmint);
    text-align: left;
    border-radius: 25px;
    outline: none;
    transition: 0.4s;
    font-weight: bold;
    margin-top: 10px
  }
  

.active, .accordiond:hover {
    background-color: var(--accentyellow);
}

.accordiond:after {
    content: '+'; 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
.active:after {
  content: "\2796";
}

#returnbutton{
  color: var(--darkmint);
  border: 5px solid var(--darkmint);
  border-radius: 25px;
  padding: 20% 50% 20% 50%;
  background-color: var(--primemint);
  font-weight: bold;
  font-size: clamp(0.9rem, 1.5vw, 2.3vw);;
}

#name, #english-1, #english-2, #english-3, #maths-1, #maths-2, #maths-3{
  color: var(--darkmint);
  font-weight: bold;
  margin-right: 5px;
}
.course-title{
  color: var(--darkmint);
  font-weight: bolder;
}

.subject-seperator{
  background-color: var(--primemint);
  margin:5% 2%;
  border: 5px solid var(--darkmint);
  border-radius: 25px;
  padding: 2%;
  box-shadow: 0px 0px 11px 0px rgba(5,82,91,1);
}

