:root{
    --primemint: #34CFB5;
    --primeyellow: #ffe932;
    --darkmint: #05525B;
    --darkyellow: #CCC965;
    --accentyellow:#f2dfae;
}



html, body{
    margin: 0;
}


.accordion {
    background-color: var(--darkyellow);
    color: var(--darkmint);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    border-radius: 25px;
    outline: none;
    transition: 0.4s;
    font-weight: bold;
    margin-top: 10px
  }
  

.active, .accordion:hover {
    background-color: var(--accentyellow);
}


.panel {
    padding: 0 18px;
    background-color: var(--primeyellow);
    display: none;
    overflow: hidden;
    color: var(--darkmint);
}
.accordion:after {
    content: '+'; 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796";
  }



.header{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: var(--darkmint);
    padding: 10px 20px; 
    width: 100%;
}

.logo{
    display: flex;
    align-items: center;
}

#websitename{
    color: var(--primeyellow);
    margin-left: 10px;
}


#cloudcover{
    position: absolute; 
    bottom: 0;
    right: 0;
    width:  81.5vw;
    height: 67.708vw; 
    object-fit: cover; 
    pointer-events: none; 
}

#pfp{
    max-width: 40px;
    height: auto; 
    border-radius: 50%;
}

.logoimg{
    max-width: 50px; 
    height: auto;
}
.main {
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    padding-left: 40px;
    padding-top: 20px;
    flex-wrap: wrap-reverse; 
    background: var(--primemint);
    background: linear-gradient(90deg, var(--primemint) 0%, var(--primeyellow) 100%); 
}

.text-content{
    flex: 1; 
    min-width: 60%;
    max-width: 100%;
    
}

.image-content{
    flex: 1;
    width: clamp(210px, 90vw, 100%) ;
    min-width: 210px;
    text-align: center;
    overflow:visible;
    position: relative;
}

.imagecontainer{
    position: relative;
}

.main-image {

    min-width: 210px;
    width: 80vw; 
    max-width: 90%;
    display: block;
    margin-right: 5%;
}

#tagline{
    font-weight: bolder;
    font-size: clamp(1.3rem, 4.5vw, 6vw);
    color: var(--darkmint);
    padding-right: 10px;
    text-shadow: 2px 2px 0px #FFFFFF;

}
#subtitle{
    font-size:  clamp(1.3rem, 2vw, 3vw);
    color: var(--darkmint);
    padding-right: 10px;
    text-shadow: 2px 2px 0px #FFFFFF;
}

#mainbutton{
    background: 
    linear-gradient(90deg, var(--primeyellow) 70%, rgba(255,251,124,0) 100%) padding-box,
    linear-gradient(90deg, #ffca32 0%, rgba(255,251,124,0) 100%) border-box;
    padding: 5px 15px;
    border: 5px solid transparent;
    border-radius: 15px;
    display: inline-block;
    margin: 75px 0; 
    transition: transform 0.2s;
}

#mainbutton:hover {
    transform: scale(1.05);
}

.mainbuttontext{
    margin: 10px; margin-left: 2px;
    color: var(--primemint);
}

.cloudseperator {
    background: linear-gradient(90deg, var(--primemint) 0%, var(--primeyellow) 100%); 
    width: 100%;
    height: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden; 
}

.circle {
    height: 15vw; 
    width: 15vw;
    background-color: #FFFFFF;
    border-radius: 50%;
    position: absolute;
}
.circle:nth-child(1) { width: 20vw; height: 20vw; top: 5%; left: 5%; }
.circle:nth-child(2) { width: 15vw; height: 15vw; top: 10%; left: 25%; }
.circle:nth-child(3) { width: 18vw; height: 18vw; top: 0; left: 50%; }
.circle:nth-child(4) { width: 25vw; height: 25vw; top: 15%; left: 75%; }
.circle:nth-child(5) { width: 12vw; height: 12vw; top: 5%; left: 90%; }
.circle:nth-child(6) { width: 10vw; height: 10vw; top: 18%; left: 20%; }
.circle:nth-child(7) { width: 22vw; height: 22vw; top: 8%; left: 60%; }
.circle:nth-child(8) { width: 16vw; height: 16vw; top: 2%; left: 35%; }
.circle:nth-child(9) { width: 14vw; height: 14vw; top: 10%; left: 80%; }
.circle:nth-child(10) { width: 17vw; height: 17vw; top: 8%; left: -5%; }
.circle:nth-child(11) { width: 12vw; height: 12vw; top: 2%; left: 45%; }
.circle:nth-child(12) { width: 12vw; height: 12vw; top: 0%; left: 42%; }
.rect{
    width: 100%;
    height: 5vw;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0;
    left: 0;
}

.rectb{
    width: 52%;
    height: 30vh;
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 48%;

}

@media only screen and (max-width: 564px) {
    .rectb{
        visibility: hidden;
    }
    #cloudcover{
        visibility: hidden;
    }
    .main-image{
        margin-top: 0%;
        margin-left:auto;
        margin-right: auto;
    }
}


.sep{
    padding-bottom: 5%;
    color: var(--darkmint);
    width: 100%;
    text-align: center;
    z-index: 10000;
    font-weight: bold;
    position: relative;
}

.sepo{
    background-color: var(--darkmint);
    color: var(--primemint);
    width: 100%;
    text-align: center;
    z-index: 10000;
    font-weight: bold;
    position: relative;
    margin: 0;
    
}
#Courses {
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 100%;
}

#coursestructure{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

#coursestructurediv{
    min-width: 300px;
    max-width: calc(33.33% - 20px); 
    justify-content: center;
    align-items: center;
    flex: 1;
    box-sizing: border-box; 
}

#coursestructure {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start; 
    justify-content: center;
    width: 100%;
    gap: 10%;
}

.coursestructurediv {
    flex: 1;
    min-width: 300px;
    max-width: calc(33.33% - 20px); 
    box-sizing: border-box; 
}

.accordionc {
    background-color: gainsboro;
    color: var(--darkmint);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    border-radius: 25px 25px 25px 25px;
    outline: none;
    transition: 0.4s;
    font-weight: bold;
    margin-top: 10px;
    box-sizing: border-box; 
}

.accordionc:hover,.active {
    background-color: whitesmoke;
}

.panelc {
    padding: 0 18px;
    background-color: gainsboro;
    border-radius: 25px 25px 25px 25px;
    display: none;
    overflow: hidden;
    color: var(--darkmint);
    width: 100%; 
    box-sizing: border-box;
}

.accordionc:after {
    content: '+'; 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.courselink {
    width: 50%;
    box-sizing: border-box;
}

.coursebutton {
    background: var(--primemint);
    border: 5px solid white;
    border-radius: 15px;
    text-align: center;
    width: 20vw;  
    min-width: 220px; 
    height: auto;
    min-height: 320px;
    max-height: 480px;
    cursor: pointer;
    transition: transform 0.2s;
    padding-bottom: 20px;
    margin: 10px 0;
}

.coursebutton:hover {
    transform: scale(1.05);
}

.buttonimage {
    width: 130px;
    height: 150px;
    margin: 5% 0;
}

.coursename {
    text-align: left;
    font-weight: bold;
    margin-left: 5%;
    color: var(--darkmint);
}


.FAQseperator{
    width: 100%;
    height: 15vw;
    position: relative;
}
.sun{
    width: 100%;
    height: 50%;
    background-color: var(--primeyellow);
    border-radius: 100% 100% 0 0;
    position: absolute;
    bottom: 0;
    z-index: 0;
    left: 0;
}

#FAQ{
    background-color: var(--primeyellow);
    width: 100%;
}

.placeholder{
    margin: 0;
}

#otherresources{
    background-color: var(--primemint);
}


.reverscloudseperator {
    background: var(--primemint);
    width: 100%;
    height: 15vw; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}


.reversecircle {
    height: 15vw; 
    width: 15vw;
    background-color: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}


.reversecircle:nth-child(2) { width: 20vw; height: 20vw; top: -50%; left: 5%; }
.reversecircle:nth-child(3) { width: 15vw; height: 15vw; top: -20%; left: 25%; }
.reversecircle:nth-child(4) { width: 18vw; height: 18vw; top: -40%; left: 50%; }
.reversecircle:nth-child(5) { width: 25vw; height: 25vw; top: -70%; left: 75%; }
.reversecircle:nth-child(6) { width: 12vw; height: 12vw; top: -30%; left: 90%; }
.reversecircle:nth-child(7) { width: 10vw; height: 10vw; top: -0%; left: 20%; }
.reversecircle:nth-child(8) { width: 22vw; height: 22vw; top: -60%; left: 60%; }
.reversecircle:nth-child(9) { width: 16vw; height: 16vw; top: -15%; left: 35%; }
.reversecircle:nth-child(10) { width: 14vw; height: 14vw; top: -30%; left: 80%; }
.reversecircle:nth-child(11) { width: 17vw; height: 17vw; top: -15%; left: -5%; }
.reversecircle:nth-child(12) { width: 12vw; height: 12vw; top: 15%; left: 45%; }

.recta{
    width: 100%;
    height: 5vw;
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#ocean{
    background: var(--primemint);
    width: 100%;
    height: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.waves{
    background: var(--darkmint);
    height: 15vw; 
    width: 15vw;
    border-radius: 42% 50% 0 0;
    position: absolute;
    z-index: 1;
    border: 2px solid #FFFFFF;
}

.waves:nth-child(1) { width: 20vw; height: 20vw; top: 0; left: 0; }
.waves:nth-child(2) { width: 20vw; height: 20vw; top: 0; left: 10%; border-radius: 45% 50% 0 0;}
.waves:nth-child(3) { width: 20vw; height: 20vw; top: 0; left: 25%; border-radius: 51% 50% 0 0;}
.waves:nth-child(4) { width: 20vw; height: 20vw; top: 0; left: 50%; border-radius: 51% 50% 0 0;}
.waves:nth-child(5) { width: 20vw; height: 20vw; top: 0; left: 40%; border-radius: 51% 50% 0 0;}
.waves:nth-child(6) { width: 20vw; height: 20vw; top: 0; left: 63%; border-radius: 51% 50% 0 0;}
.waves:nth-child(7) { width: 20vw; height: 20vw; top: 0; left: 80%; border-radius: 51% 50% 0 0;}
.waves:nth-child(8) { width: 20vw; height: 20vw; top: 0; left: 90%; border-radius: 51% 50% 0 0;}
.waves:nth-child(9) { width: 20vw; height: 20vw; top: 0; left: -10%; border-radius: 51% 50% 0 0;}

#rightforyou{
    background-color: var(--darkmint);
    display: flex;
    justify-content: center;
    gap: 5%;
    flex-wrap: wrap;
    padding: 2%;
}

.footer{
    background-color: var(--darkyellow);
}

.cloudbutton{
    background-image: url('./assets/cloudborder.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height: 400px;
    text-align: center;
    padding-top: 50px;
    flex-shrink: 0;
}





.cloudimage{
    width: 100px;
    height: 100px;
}

.cloudname{
    margin-top: 0;
    font-weight: bold;
}

.clouddesc{
    margin:0;
}

.resourceswrapper{
    height: 640px;
    display: flex;
    overflow-x: auto;
    gap: 5px;
    flex-shrink: 0;
}

.resourceswrapper::-webkit-scrollbar{
    display: none;
}


.scrollbutton {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(5, 82, 91, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.scrollbutton.left-scroll {
    left: 0;
}

.scrollbutton.right-scroll {
    right: 0;
}

.scrollbutton:hover {
    background-color: rgba(5, 82, 91, 0.8);
}
.scrollnavwrapper{
    position: relative;
    top: 250px;
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center; 
    z-index: 100; 
}